<div class="jumbotron">
  <h1>Handcrafted items from <br> around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<div class="center">
  <div class="card-deck">
    <% @listings.each do |listing| %>
      <div class="card">
        <%= link_to image_tag(listing.image, class: 'card-img-top'), listing%>

        <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5>
          <p class="card-text"><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <p class="card-text"><%= listing.description %></p>
        </div>
          <% if (user_signed_in?) && (current_user == listing.user) %>
          <div class="card-footer">
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Destroy', listing, class: "btn btn-link", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
