<p id="notice"><%= notice %></p>

<div class="center">
  <div class="card-deck">
    <% @listings.each do |listing| %>
      <div class="card">
        <%= link_to image_tag(listing.image.url, class: 'card-img-top'), listing%>

        <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5>
          <p class="card-text"><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <p class="card-text"><%= listing.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
